@import '../../scss/variables';

.login-button {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 100px;
    padding: 10px 15px;
    background: $color-red;
    border: 1px solid $color-red;
    border-radius: 3px;
    color: #fff;

    &:hover {
        background: $color-dark-red;
        cursor: pointer;
    }
}
