@import '../../scss/variables';

table {
    border-collapse: collapse;
    width: 80%
}

td {
   border-bottom: 1px solid #ddd;
}

th {
  height: 50px;
  background-color: $color-red;
  color: $color-white;
}

tr:nth-child(even) {background-color: $color-light-gray;}

.link-button {
  display: inline-block;
  border-radius: 4px;
  background-color: $color-red;
  border: none;
  color: $color-white;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.link-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.link-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.link-button:hover span {
  padding-right: 25px;
}

.link-button:hover span:after {
  opacity: 1;
  right: 0;
}

.see-button {
  display: inline-block;
  border-radius: 4px;
  background-color: $color-dark-gray;
  border: none;
  color: $color-white;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.see-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.see-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.see-button:hover span {
  padding-right: 25px;
}

.see-button:hover span:after {
  opacity: 1;
  right: 0;
}
