// COLORS
$color-white: #fff;
$color-black: #121212;
$color-red: #db0a40;

$color-dark-red: #bb0a40;

// SIZING
$spacing-xl: 32px;
$spacing-l: 24px;
$spacing-m: 16px;
$spacing-s: 12px;
$spacing-xs: 8px;
$spacing-xxs: 4px;

// FONT SIZES
$text-size-s: 12px;
$text-size-sm: 14px;
$text-size-m: 16px;
$text-size-l: 20px;
$text-size-xl: 24px;
$text-size-xxl: 32px;
$text-h1-size: 32px;
$text-h2-size: 24px;
$text-h3-size: 20px;
$text-h4-size: 16px;
$text-h5-size: 12px;

// BORDERS
$border-radius-soft: 3px;
