{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": "off",
        "quotes": [
            2,
            "single"
        ],
        "strict": [
            "error",
            "global"
        ],
        "curly": "warn"
    }
}